# 카페24 API
CAFE24_CLIENT_ID=SDlkA2htBxMkSCYH2GGzuD
CAFE24_CLIENT_SECRET=B0PSwZZxNlYvIBnlF3ciID
CAFE24_MALL_ID=aurafore
CAFE24_REDIRECT_URI=http://localhost:8000/cafe24/callback

# Anthropic (Claude)
ANTHROPIC_API_KEY=여기에_Claude_API_키

# DB
DATABASE_URL=./reviews.db
